@font-face {
    font-family: 'Rubik-Light';
    src: url('fonts/Rubik/static/Rubik-Light.ttf');
}

@font-face {
    font-family: 'Rubik-Regular';
    src: url('fonts/Rubik/static/Rubik-Regular.ttf');
}

:root {
    --bg-color: #e8e8e8;
    --text-color: black;
    --hover-color: #72bf6a;
    --main-color: #5bb450;
}

* {
    background-color: var(--bg-color);
}

.negrito {
    font-family: 'Rubik-Regular';
    font-weight: bold;
}

.meunome {
    font-family: 'Rubik-Light';
    font-size: xx-large;
    padding-left: 70px;
    display: flex;
}

.cabecalho {
    font-family: 'Rubik-Light';
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 16cm;
    word-spacing: 1cm;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--hover-color);
}

.contato {
    font-family: 'Rubik-Light';
    font-size: 20px;
    margin-left: 16cm;
    padding: 10px 30px;
}

#inicio h2 {
    font-family: 'Rubik-Regular';
    font-size: 40px;
    margin-right: 13cm;
    margin-top: 2cm;
}

.nome {
    color: var(--main-color);
}

#inicio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#inicio .fullstackimg {
    margin-right: 8cm;
    margin-top: 3cm;
    border-radius: 20px;
    border: 7px solid var(--hover-color);
}

#sobre {
}

#sobre h1 {
    font-family: 'Rubik-Regular';
    font-size: 40px;
    text-align: center;
    margin-top: 4%;
}

#sobre h2 {
    font-family: 'Rubik-Regular';
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    padding: 20px; /* Adiciona espaço ao redor do container */
}

#sobre .luisgustavo {
    border-radius: 20px;
    border: 7px solid var(--hover-color);
    margin-top: 10%;
    margin: auto;
    display: block;
}

#sobre p {
    font-family: 'Rubik-Regular';
    font-size: 20px;
    text-align: left;
    margin-right: 10%;
}

#falecomigo h1 {
    font-family: 'Rubik-Regular';
    font-size: 40px;
    text-align: center;
    margin-top: 4%;
}

.row{
    padding: 0 20px;
    display: table;
    width: 100%;
}

form {
    width: 50%;
    margin: 0 auto;
    font-family: 'Rubik-Regular';
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    font-family: 'Rubik-Regular';
    font: 1em;
}

label {
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
}

.botao-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: #5bb450;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}
